<div>
  <%= form_for(@portfolio) do |f| %>

 <%= f.label :title, placeholder: "Title of portfolio" %>
 <%= f.text_field :title %>

<%= f.label :subtitle, placeholder: "Subtitle" %>
 <%= f.text_field :subtitle %>

  <%= f.label :body, placeholder: "body of portfolio" %>
 <%= f.text_field :body %>

<ul>
  <%= f.fields_for :technologies do |technology_form| %>
    <%= technology_form.label :name %>
    <%= technology_form.text_field :name %>
  <% end %>
</ul>


  <%= f.submit %>
<% end %>

</div>
