<h1>New Portfolio Item</h1>

<%= form_for(@portfolio) do |f| %>

 <%= f.label :title, placeholder: "Title of portfolio" %>
 <%= f.text_field :title %>

<%= f.label :subtitle, placeholder: "Subtitle" %>
 <%= f.text_field :subtitle %>

  <%= f.label :body, placeholder: "body of portfolio" %>
 <%= f.text_field :body %>

  <%= f.submit %>
<% end %>
